@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
	min-width: 0;
}

html,
body {
	@apply h-full overflow-hidden;
}

/* rocket theme */
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

/* neo brutalist */
.card { @apply border-[1px] border-r-[4px] border-b-[4px] border-stone-900; }